@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}


<div class="jumbotron">
    <h1>Really cool new features are here!!</h1>
    <p class="lead">Example .NET app to Azure App Service.</p>
</div>
